<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shrine.web.mapper.AuthorMapper">
    <select id="getAuthorBySeriesId" parameterType="Integer" resultType="com.shrine.web.entity.Author">
        SELECT a.* FROM author a
        JOIN assign_series sa ON sa.creatorId = a.id
        WHERE sa.seriesId = #{seriesId} AND a.status = 1
    </select>

</mapper>